{% extends 'template.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block main %}
    <main class="container">
        <div class="row d-flex justify-content-around">
            <div class="card" style="width: 18rem;">
                <img src="img/website.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Site web</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/jeux.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeux</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
